@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff; /* Same background for both light and dark themes */
  --foreground: #000000; /* Same text color for both light and dark themes */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  width:100% ;
}

/* Dark Mode: Keep the same colors */
@media (prefers-color-scheme: dark) {
  body {
    color: var(--foreground);
    background: var(--background);
  }
}

/* Tailwind's dark mode class-based method */
.dark body {
  color: var(--foreground);
  background: var(--background);
}
